@import url('https://fonts.google.com/share?selection.family=Lato:wght@100;300');
@import url('https://fonts.google.com/share?selection.family=Parisienne');

body {
    background-color: #fafafa;
  }
  
h1{
font-family: 'Lato', sans-serif;
}  @media (max-width: 500px) {
    * {
        margin: 0px;
    }
}